[Desktop Entry]
Name=UltimateDailyWallpaper
Exec=UltimateDailyWallpaper
Type=Application
Comment=A wallpaper changer
Terminal=false
Icon=/usr/share/pixmaps/ultimatedesktopwallpaper_icon.png
Categories=Utility;DesktopUtility;
StartupNotify=false
