[Desktop Entry]
Type=Application
Exec=/usr/bin/UltimateDailyWallpaper
Name=UltimateDailyWallpaper
Comment=Wallpaper changer
Terminal=false
Keywords=background;wallpaper;
Icon=/usr/share/pixmaps/ultimatedesktopwallpaper_icon.png
Categories=Utility;DesktopUtility;
